body{
    width: 1500px;
    margin: auto;
    position: relative;
}

.banner{
    width: 100%;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 1500px solid transparent;
    border-bottom: 180px solid #F5A623;
    z-index: -1;
    position: absolute;
    left: 0%;
    top: 4%
}

header h1{
    font-family: Sigmar One;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 246px;
    color: #F5A623;
    position: relative;
    left: 2px;
    top: -17px;
    transform: rotate(-7deg);
}

section{
    background-color: #F5A623;
    z-index: 2;
    margin-top: -100px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 140px;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.starters{
    width: 600px;
    margin: auto;
}

.starters-heading{
    font-family: Sigmar One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 79px;
    /* identical to box height */

    text-align: right;
    letter-spacing: 0.15px;

    color: #FFFFFF;
    margin: 0 0 -4% 0;
}

.starters-info{
    margin: auto;
    background: #FFFFFF;
    border-radius: 24px 24px 100px 100px;
    padding: 20px;
}

.starters-info h3{
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    
    color: #1F1E1D;
}

.starters-info p{
    font-family: Poppins;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    
    margin: 1px 40px;


    color: #1F1E1D;
}

.card{
    max-width: 180px;
}

.card:nth-child(2n){
    margin-top: 50px;
}

.card:nth-child(2n+6){
    margin-top: 0;
}

.card:nth-child(2n+7){
    margin-top: 50px;
}


.id{
    font-family: Sigmar One;
    color: white;
    text-align: center;
}

.about, .name {
    font-family: Poppins;
    text-align: center;
    color: white;
}


.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.about{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

img{
    width: 100px;
    margin: 15%;
}

.img-container{
    width: 150px;
    height: 150px;
    background-color: white;

    border: 10px dashed #1F1E1D;
    border-radius: 100%;
    margin: auto;
}

.triangle-2{
    width: 0;
    height: 0;
    border-left: 1500px solid transparent;
    border-top: 182px solid #F5A623;
    z-index: -1;
    position: absolute;
    left: 0%;
    bottom: 0%;
}

footer h1{ 
    font-family: Sigmar One;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 246px;

    position: relative;
    left: 0%;
    top: 8.5%;

    text-align: right;

    color: #FFFFFF;

    transform: rotate(5deg);
}

