body{
    width: 80%;
    margin: auto;
}

header{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: -83.03%;
    bottom: 21.08%;
    z-index: -1;

    background: #FFFFFF;
}

header h1{
    /* position: absolute; */
    height: 246px;
    left: 0.09%;
    right: 39.29%;
    top: calc(50% - 246px/2 + 53.89px);

    font-family: Sigmar One;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 246px;
    /* text-align: center; */

    color: #F5A623;

    transform: rotate(-7deg);
}

section{
    background-color: #F5A623;
    z-index: 1;
    margin-top: -100px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 110px;
}

.starters-heading{
    height: 79px;
    left: 50.41%;
    right: 0.49%;
    top: calc(50% - 79px/2 - 40px);

    font-family: Sigmar One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 79px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.15px;

    color: #FFFFFF;
}

.starters-info{
    left: 0%;
    right: 0%;
    top: 33.96%;
    bottom: 0%;

    background: #FFFFFF;
    border-radius: 24px 24px 100px 100px;
}

.starters-info h3{
height: 21px;
left: 3.26%;
right: 77.49%;
top: calc(50% - 21px/2 + 3px);

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.04375px;

color: #1F1E1D;
}

.starters-info p{
    height: 43px;
left: 7.34%;
right: 8.48%;
top: calc(50% - 43px/2 + 37px);

font-family: Poppins;
font-style: italic;
font-weight: 300;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.04375px;

color: #1F1E1D;
}